@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Rochester&family=Rouge+Script&display=swap");

.containerMaterialPage {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 100%;
  max-width: 1320px;
  font-family: "Inter", sans-serif;
}

h2 {
  margin-top: 20px;
}

.mainMaterialPage {
  margin-top: 20px;
  min-width: 700px;
  max-width: 1320px;
  width: 100%;
}
