@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerMaterialDescription {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  max-width: 1320px;
  font-family: "Inter", sans-serif;
  align-items: center;
}

.materialDetails {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.materialDetails > h1 {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.1rem;
}

.materialWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: space-evenly; */
  padding-top: 1rem;
  justify-content: center;
  /* column-gap: 0px; */
  width: 90%;
}

.containerCategory {
  display: flex;
  flex-direction: row;
}

.containerCategory > p:first-child {
  font-weight: 200;
}

.containerCategory > p:last-child {
  font-weight: 600;
}

.containerSubcategory {
  display: flex;
  flex-direction: row;
}

.containerSubcategory > p:first-child {
  font-weight: 200;
}

.containerSubcategory > p:last-child {
  font-weight: 600;
}

.containerCategory > p {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.containerUnit {
  display: flex;
  flex-direction: row;
}

.containerUnit > p:first-child {
  font-weight: 200;
}

.containerUnit > p:last-child {
  font-weight: 600;
}

.containerSubcategory > p {
  font-size: 0.9rem;
  margin-bottom: 0.15rem;
}

.containerUnit > p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.materialImage {
  width: 50%;
  display: flex;
  justify-content: center;
}

.materialImage > img {
  width: 60%;
  display: flex;
  justify-content: center;
}
.priceMaterialItem {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.priceMaterialItem > p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.priceMaterialItem > span {
  font-weight: 600;
}

.materialImageAndPrice {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.hr {
  width: 60%;
  margin: 10px 0; /* Margen alrededor de la línea horizontal */
}

.conteinerHistoryPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historialPrices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.historialPrices > h2 {
  margin: 0 0 0.6rem 0;
  padding: 0;
  font-weight: 600;
  font-family: "Inter";
}

.tableData {
  font-family: "Inter", sans-serif;
  min-height: 285px;
}

.tableData th {
  background-color: #2a96ee !important;
  color: #fff !important;
}

.containerGraphics {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5%;
  /* justify-content: space-evenly; */
}

.containerGraphicDollar {
  width: 45%;
  display: flex;
  justify-content: center;
}
.containerGraphicDollar > canvas {
  width: 100%;
}

.containerGraphicPesos {
  width: 45%;
  display: flex;
  justify-content: center;
}

.containerGraphicPesos > canvas {
  width: 100%;
}

.containerButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.buttonBack {
  width: 25%;
  height: 45px;
  /* background-color: #ff3a41; */
  background-color: #28a745;
  color: #f5f5f5;
  font-weight: 400;
}

.buttonBack:hover {
  /* background-color: #dc3545; */
  background-color: #218838;
  border: none;
  font-weight: 600;
}

.buttonEdit {
  width: 25%;
  height: 45px;
  /* background-color: #2ac97a; */
  background-color: #007bff;
  color: #f5f5f5;
  font-weight: 400;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonEdit:hover {
  /* background-color: #198754; */
  background-color: #0056b3;
  color: white;
  border: none;
  font-weight: 600;
}

.buttonEraseDescription {
  font-size: 30px;
  color: white;
  height: 45px;
  background-color: #dc3545;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.buttonEraseDescription:hover {
  background-color: #c82333;
  color: white;
}
