.containerUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapperUnit {
  display: flex;
  width: 50%;
  align-items: center;
}

.btnSuccess {
  width: 30%;
  height: 40px;
  color: #fff;
  background-color: #20ad00;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.btnSuccess:hover {
  color: #fff;
  background-color: #198754;
}

.formControl {
  width: 95%;
  height: 40px;
  padding: 0 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.formControl:focus {
  border: #20ad00 2px solid;
  outline: none;
  border-radius: 5px;
}

.searchContainer {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-radius: 5px;
  padding-right: 10px;
  column-gap: 5px;
}

.containerIcon {
  width: 5%;
  display: flex;
  justify-content: center;
}

.containerIcon > img {
  width: 28px;
}

/* .searchIcon {
  font-size: 1.5rem;
    color: #aaa;
    height: 35px;
    cursor: pointer;
  }
  
  .containerIcon .searchIcon:hover {
    color: #20ad00;
    cursor: pointer;
  } */

.containerItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1320px;
  border-radius: 10px;
  margin: 20px;
  column-gap: 1rem;
  row-gap: 1rem;
}

.containerNoShow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 125px 0;
}

.containerNoShow > p {
  font-size: 1.5rem;
  margin: 0;
}

.containerNoShow > p:nth-child(2) {
  font-weight: 200;
}

.containerNoShow > p:nth-child(3) {
  font-weight: 600;
}

.containerNoShow > p:nth-child(4) {
  font-weight: 200;
}

.containerNoShow > img {
  width: 50px;
  margin: 0 1rem;
}

/* Desktop HD */

.wrapperUnit.hd {
  width: 65%;
  column-gap: 1rem;
  justify-content: center;
}

.btnSuccess.hd {
  width: 30%;
  max-width: 175px;
}

.searchContainer.hd {
  width: 65%;
  margin: 0;
  padding: 0;
}

/* Tablet HD */

.wrapperUnit.tabletHD {
  width: 65%;
  column-gap: 1rem;
  justify-content: center;
}

.btnSuccess.tabletHD {
  width: 30%;
  max-width: 175px;
}

.searchContainer.tabletHD {
  width: 65%;
  margin: 0;
  padding: 0;
}

/* Tablet */

.wrapperUnit.tablet {
  width: 75%;
  column-gap: 1rem;
  justify-content: center;
}

.btnSuccess.tablet {
  width: 30%;
  max-width: 175px;
}

.searchContainer.tablet {
  width: 65%;
  margin: 0;
  padding: 0;
}

/* Mobile Landscape */

.wrapperUnit.mobileLandscape {
  width: 85%;
  column-gap: 1rem;
  justify-content: center;
}

.btnSuccess.mobileLandscape {
  width: 35%;
  max-width: 175px;
}

.searchContainer.mobileLandscape {
  width: 60%;
  margin: 0;
  padding: 0;
}

/* Mobile  */

.wrapperUnit.mobile {
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  width: 70%;
}

.btnSuccess.mobile {
  width: 95%;
  order: 2;
}

.searchContainer.mobile {
  width: 95%;
  margin: 0;
  padding: 0;
  order: 1;
}

/* Mobile */

.containerItem.mobile {
  flex-direction: column;
}

.wrapperUnit.mobile {
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  width: 70%;
}

.btnSuccess.mobile {
  width: 95%;
  order: 2;
}

.searchContainer.mobile {
  width: 95%;
  margin: 0;
  padding: 0;
  order: 1;
}

.containerItem.mobile {
  margin: 1.5rem 0;
}

.containerNoShow.mobile {
  flex-direction: column;
  padding: 50px 0;
}
