.containerMaterialNew {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  height: 100%;
  /* min-height: 100vh; */
  width: 100%;
  padding-bottom: 1rem;
}

.containerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  margin: 1rem 0;
}

.containerTitle > h2 {
  font-weight: 200;
  font-size: 2rem;
  margin: 0;
}

.containerTitle > h2::first-letter {
  font-weight: 600;
}

.containerTitle > img {
  width: 48px;
  height: 48px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-radius: 20px;
  background-color: #f5f5f5;
  max-width: 600px;
}

.inputGroup {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.containerSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.inputGroup > input,
.containerSelect > select,
.inputGroup > select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  height: 2.5rem;
}

.inputGroup > input:focus {
  border: #0d6efd 2px solid;
}

.inputGroup > label {
  font-weight: bold;
}

.buttonNew {
  /* width: 10rem; */
  padding: 0.6rem;
  border-radius: 5px;
  background-color: #2ac97a;
  cursor: pointer;
  color: white;
  outline: none;
  text-align: center;
}

.buttonNew:hover {
  background-color: #198754;
  color: white;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  width: 60%;
  column-gap: 2rem;
}

.buttonMaterialNew {
  width: 65%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #0d6efd;
  cursor: pointer;
  color: #f5f5f5;
  outline: none;
  margin-left: 1rem;
  font-weight: 400;
}

.buttonMaterialNew:hover {
  background-color: #105bd5;
  border: none;
  font-weight: 600;
}

.buttonBack {
  padding: 10px;
  width: 35%;
  margin: 20px 0;
  background-color: #ff3a41;
  color: #f5f5f5;
  border-radius: 5px;
  font-weight: 400;
  margin-right: 1rem;
}

.buttonBack:hover {
  background-color: #dc3545;
  border: none;
  font-weight: 600;
}
/* Contenedor del loader */
.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3); /* Fondo semi-transparente */
  backdrop-filter: blur(5px); /* Efecto de desenfoque del fondo */
  z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
}

/* Estilos para el loader */
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Landscape */

.containerTitle.mobileLandscape {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  row-gap: 0.5rem;
}

.inputGroup.mobileLandscape {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.containerButtons.mobileLandscape {
  width: 85%;
  max-width: 400px;
}

/* .containerTitle.mobileLandscape > h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
} */

/* Mobile */

.inputGroup.mobile {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.buttonNew.mobile {
  padding: 0.5rem;
}

.containerSelect.mobile > select {
  padding: 5px;
  font-size: 0.85rem;
}

.containerSelect.mobile {
  column-gap: 0.75rem;
}

.containerTitle.mobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  row-gap: 0.5rem;
}

/* .containerTitle.mobile > h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
} */

.form {
  padding: 0;
}

.containerButtons.mobile {
  width: 85%;
}
