*{
    font-family: "Inter";
}

.modalHeader{
    background-color: #f5f5f5;
}

.modalTitle{
    color: #111;
}

.modalHeader > button{
    font-size: 0.75rem;
}

.modalHeader > button:hover{
    background-color: red;
}

.containerModalBody{
    background-color: white;
    border-radius: 5px;
}

.containerModalBody > p {
    text-align: center;
}

.buttonNew {
    /* width: 10rem; */
    padding: 0.6rem;
    border-radius: 5px;
    background-color: #2ac97a;
    cursor: pointer;
    color: white;
    outline: none;
    text-align: center;
}

.buttonNew:hover {
    background-color: #198754;
    color: white;
}

.buttonBack{
    width: 25%;
    background-color: #ff3a41;
    color: #f5f5f5;
    font-weight: 400;
}

.buttonBack:hover{
    background-color: #dc3545;
    border: none;
    font-weight: 600;
}