@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap");

:root {
  --text-color: #111;
  --text-bar-color: #fff;
  --text-submenu-color: #777;
  --background-color: #fff;
  --background-header-color: #364f6b;
  --background2-header-color: #fc4100;
  --background-hover-color: rgb(201, 201, 201);

  --body-font: "Inter", sans-serif;

  --normal-font-size-0875: 0.875rem;
  --menu-font-size-1: 1rem;
  --query-font-size-075: 0.75rem;
  --submenu-font-size-06875: 0.6875rem;

  --body-lineheight: 1.5;

  --normal-border: 1px solid #eee;
  --form-border: 2px solid #ddd;

  --weight-500: 500;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* 
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size-0875);
  line-height: var(--body-lineheight);
  display: flex;
  flex-direction: column;
  align-items: center;
} */

select,
option {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size-0875);
}

select:focus {
  outline: none;
}

i {
  font-size: 1.3rem;
  /* color: var(--text-color); */
  width: 40px;
  /* background-color: var(--background-color); */
}

.flex {
  display: flex;
}

.containerNav {
  width: 100%;
  max-width: 1320px;
}

.headerBottom {
  background-color: var(--background-header-color);
  height: 60px;
}

.containerBottom {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.hiddenMenu {
  flex-basis: 20%;
}

.dtmenu {
  position: relative;
  z-index: 101;
}

.dtmenuTitle {
  color: var(--text-bar-color);
  font-size: var(--menu-font-size-1);
  font-weight: var(--weight-500);
  gap: 10px;
  height: 60px;
  padding: 0 0.9rem;
  cursor: default;
  align-items: center;
  background-color: var(--background2-header-color);
}

#iconMenu {
  background-color: var(--background2-header-color);
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  color: var(--background-color);
}

.dtmenuList {
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  background: var(--background-color);
  left: 0;
  display: none;
}

.dtmenu:hover .dtmenuList {
  display: block;
}

.desktopMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

li[data-depth="0"] {
  border-bottom: var(--normal-border);
  position: relative;
}

.hyperList {
  text-decoration: none;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  color: #777;
}

.hyperList > img {
  margin-right: 0.625rem;
}
.hyperList > i {
  margin-left: auto;
  text-align: end;
  margin-right: 0.625rem;
}

.headerNavLinks > ul {
  display: flex;
  gap: 1.875rem;
  margin-left: 1.875rem;
  list-style: none;
}

.headerNavLinks > ul > li > a {
  color: var(--background-color);
  text-decoration: none;
}

.headerNavLinks > ul > li > a:hover {
  color: var(--background-hover-color);
}

.headerNavLiksHidden {
  display: none;
}

.divwishlistContainer {
  flex-basis: 5%;
  margin-left: auto;
  margin-right: 1rem;
}

.spanwishlist {
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.spanwishlist > span {
  color: white;
}

.divcart {
  flex-basis: 5%;
}

.cart {
  color: #fff;
  font-size: var(--menu-font-size-1);
  display: flex;
  justify-content: center;
  height: 60px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--background2-header-color);
}

.spancart {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.spancart > a {
  padding-right: 0.625rem;
}

.cart > span > a > i {
  color: var(--background-color);
  background-color: var(--background2-header-color);
}

.spancart > span {
  font-size: var(--query-font-size-075);
}

.subContainerMenu {
  width: auto;
  height: auto;
  background: var(--background-color);
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  z-index: 101;
  transition: opacity 0.4s;
}

.desktopMenu li:hover .subContainerMenu {
  display: block;
}

.sub {
  flex-wrap: wrap;
  row-gap: 0.625rem;
  padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
  margin-bottom: 0;
  list-style: none;
}

.subMenu {
  width: 200px;
}

.subMenu > a {
  font-weight: var(--weight-500);
  margin-bottom: 0.5rem;
  color: var(--text-color);
  display: block;
  text-decoration: none;
}

.subMenuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subMenuList > li {
  width: 200px;
  list-style: none;
}

.subMenuList > li > a {
  color: var(--text-submenu-color);
  margin: 0 0 0.25rem;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

@media (min-width: 769px) and (max-width: 1320px) {
  .headerBottom {
    height: 40px;
  }

  .containerBottom {
    height: 40px;
  }

  .divcart {
    flex-basis: 4%;
  }

  .dtmenuTitle,
  .cart {
    font-size: var(--query-font-size-075);
    height: 40px;
  }

  #iconMenu {
    font-size: var(--menu-font-size-1);
  }

  .hyperList,
  .hyperList > i,
  .headerNavLinks > ul > li > a {
    font-size: var(--query-font-size-075);
  }

  .headerNavLinks {
    padding-right: 0.625rem;
  }

  .headerNavLinks > ul > li {
    text-align: center;
  }

  .hyperList > img {
    display: none;
  }

  .sub {
    row-gap: 0.3rem;
    padding: 0.3rem 0.9375rem 0.3rem 0.9375rem;
  }

  .subMenu {
    width: 100px;
    font-size: var(--submenu-font-size-06875);
    text-overflow: ellipsis;
  }

  .subMenuContainer {
    column-gap: 0.9375rem;
  }

  .subMenuList > li {
    width: 100px;
  }

  .subMenuList > li > a {
    white-space: normal;
  }

  .spancart > a {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .spancart > span {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hyperList,
  .headerNavLinks > ul > li {
    font-size: var(--query-font-size-075);
  }
  .headerNavLinks > ul {
    margin-left: 1rem;
    gap: 1.25rem;
  }
  .headerBottom {
    height: 40px;
  }

  .containerBottom {
    max-width: 100%;
    height: 40px;
  }

  .dtmenuTitle {
    height: 40px;
    width: 50px;
  }

  .dtmenuTitle > span {
    display: none;
  }

  #icon-menu {
    font-size: var(--menu-font-size-1);
  }

  .hyperList > i {
    display: none;
  }

  .dtmenuList {
    width: 150px;
  }

  .desktopMenu li:hover .subContainerMenu {
    display: none;
  }

  .headerNavLinks {
    margin-left: auto;
  }

  .iHeaderNav,
  .npHeaderNav,
  .sHeaderNav {
    display: none;
  }

  .cart {
    font-size: var(--query-font-size-075);
    height: 40px;
  }

  .spancart > a {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .spancart > span {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .hyperList,
  .headerNavLinks > ul > li {
    font-size: var(--query-font-size-075);
  }

  .headerBottom {
    height: 40px;
  }

  .containerBottom {
    height: 40px;
  }

  .dtmenuTitle {
    height: 40px;
    width: 50px;
  }

  .dtmenuTitle > span {
    display: none;
  }

  #icon-menu {
    font-size: var(--menu-font-size-1);
  }

  .hyperList > i {
    display: none;
  }

  .dtmenuList {
    width: 150px;
  }

  .desktopMenu li:hover .subContainerMenu {
    display: none;
  }

  .headerNavLinks {
    margin-left: auto;
  }

  .headerNavLinks {
    display: none;
  }

  .headerNavLiksHidden {
    display: block;
    height: 40px;
    padding: 0 0.625rem;
    margin-right: auto;
  }

  .linksHiddenNavResponsive {
    list-style: none;
    height: 40px;
    position: relative;
  }

  .linksHiddenNavResponsive > a {
    height: 40px;
    display: flex;
    background: var(--background2-header-color);
    text-decoration: none;
    width: 50px;
    justify-content: center;
    align-items: center;
  }

  .linksHiddenNavResponsiveContainer {
    display: none;
    box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: auto;
    background: var(--background-color);
    left: 0;
  }

  .linksHiddenNavResponsiveContainer > ul > li {
    list-style: none;
    font-size: var(--query-font-size-075);
    white-space: nowrap;
    border-bottom: var(--normal-border);
    padding: 0.625rem;
  }

  .linksHiddenNavResponsiveContainer > ul > li > a {
    text-decoration: none;
    color: var(--text-submenu-color);
  }

  .linksHiddenNavResponsive:hover .linksHiddenNavResponsiveContainer {
    display: block;
    z-index: 1000;
  }

  .cart {
    font-size: var(--query-font-size-075);
    height: 40px;
  }

  .spancart > a {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .spancart > span {
    display: none;
  }
}
