@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Rochester&family=Rouge+Script&display=swap");

:root {
  --text-color: #111;
  --text-bar-color: #fff;
  --text-submenu-color: #777;
  --text-color-105bd5: #105bd5;

  --background-color-e5e5e5: #e5e5e5;
  --background-color-888: #888;
  --background-color-999: #999;
  --background-color: #fff;
  --background-header-color: #364f6b;
  --background-color-ff3a41: #ff3a41;
  --background2-header-color: #fc4100;
  --background3-color: #2ac97a;
  --background4-color-105bd5: #105bd5;
  --background-footer-color: #eee;
  --background-hover-color: rgb(201, 201, 201);
  --background-primary-color: #0d6efd;
  --background-secundary-color: #6c757d;
  --background-success-color: #198754;
  --background-danger-color: #dc3545;
  --background-warning-color: #ffc107;
  --background-info-color: #0dcaf0;

  --body-font: "Inter", sans-serif;
  --experiencias-font: "Rochester", cursive;

  --normal-font-size-0875: 0.875rem;
  --menu-font-size-1: 1rem;
  --menu-font-size-1125: 1.125rem;
  --menu2-font-size-13: 1.25rem;
  --menu-font-size-1375: 1.375rem;
  --menu3-font-size-15: 1.5rem;
  --query-font-size-075: 0.75rem;
  --query-font-size-0625: 0.625rem;
  --submenu-font-size-06875: 0.6875rem;

  --body-lineheight: 1.5;
  --body-lineheight-13: 1.3;
  --body-lineheight-11: 1.1;

  --normal-border: 1px solid #eee;
  --form-border: 2px solid #ddd;
  --normal-border-2-ed1d24: 2px solid #ed1d24;

  --weight-500: 500;
  --weight-600: 600;

  --margin-5px: 0.313rem;
  --margin-10px: 0.625rem;
  --margin-12px: 0.75rem;
  --margin-14px: 0.875rem;
  --margin-15px: 0.938rem;
  --margin-16px: 1rem;
  --margin-20px: 1.25rem;
  --margin-25px: 1.563rem;
  --margin-30px: 1.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select,
option {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size-0875);
}

select:focus {
  outline: none;
}

.flex {
  display: flex;
}
ul {
  margin: 0;
  padding: 0;
}

.containerNav {
  width: 100%;
  max-width: 1320px;
  background-color: #f5f5f5;
  padding-top: 10px;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
}

.generalNav {
  justify-content: space-between;
  align-items: center;
}

.wrappernavbarCentral {
  position: relative;
  display: flex;
}

.navbarCentral {
  display: flex;
}

.logoAnchor {
  margin-left: 1rem;
  align-items: center;
  width: 9%;
}
.logoAnchor > a {
  display: flex;
  align-items: center;
}

.containerNavbarCentral {
  /* display: flex;
  width: 80%; */
  margin-left: 10px;
  margin-right: auto;
}

.linkLogo {
  display: block;
}

.linkLogo > img {
  width: 100%;
  border-radius: 5px;
}

.ulNavbarCentral {
  list-style-type: none;
  display: flex;
  column-gap: 15px;
}

.navItem {
  position: relative;
  display: flex;
}

.liHomeNavbar {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  transition: color var(--transition-speed),
    background-color var(--transition-speed);
}

.liHomeNavbar.nightMode {
  background-color: #999;
  border-radius: 5px;
  color: #fff;
}

.liHomeNavbar:hover {
  color: #007bff;
  background-color: var(--background-hover-color);
  border-radius: 5px;
}

.hasDropdown:hover .menuDropdown .menuDropdown2 {
  display: block;
}

.hasDropdown:hover .menuDropdown,
.hasDropdown:hover .menuDropdown2,
.menuDropdown:hover,
.menuDropdown2:hover {
  display: flex; /* Muestra el menú cuando se pasa el cursor por encima */
}

.liHomeNavbar > img {
  margin-left: 5px;
  width: 24px;
}

.menuColumns {
  flex-direction: row;
  column-gap: 25px;
  width: 100%;
  flex-wrap: wrap;
  /* Menu despleglable */
}

.menuColumn {
  padding: 0 10px;
  display: flex;
  /* width: 250px; */
  /* border-left: #ff3a41 1px solid;
  border-right: #ff3a41 1px solid; */
  /* Menu despleglable individual */
}

.ulDropdown {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  /* border: 1px #2ac97a solid; */
}

.ulDropdown li:last-child {
  margin-top: auto;
}

.ulDropdown2 {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.ulDropdown2 > li {
  margin-top: 5px;
}

.ulDropdown2 > li > a {
  margin-top: 5px;
}

.ulDropdown2 > li > span {
  font-weight: 600;
}

.liTitleMenu {
  padding-bottom: 10px;
}

.liTitleMenu.nightMode {
  background-color: #f5f5f5;
  color: #111;
}

.menuRow {
  width: 100%;
  text-align: center;
  border: 1px #d8d8d8 solid;
}

.menuRow > a {
  color: #111;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 600;
}

.menuDropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-30%);
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: var(--margin-10px);
  border-radius: 5px;
  white-space: nowrap;
  width: max-content;
  max-width: 1000px;
}

.menuDropdown2 {
  display: none; /* Esconde el menú por defecto */
  position: absolute;
  top: 100%; /* Asegura que el menú aparezca justo debajo del título */
  background-color: #fff; /* Ajusta según tus necesidades */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Agrega sombra si lo deseas */
  z-index: 10;
  padding: var(--margin-10px);
  border-radius: 5px;
  padding-bottom: 10px;
  white-space: nowrap;
}

.menuDropdown.nightMode,
.menuDropdown2.nightMode {
  background-color: #f5f5f5;
}

.linkLogo > p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.productLinkNav {
  margin-top: 10px;
  /* border: 1px #0d6efd solid; */
}

.productLinkNav.nightMode {
  background-color: #f5f5f5;
}

.productLinkNav.nightMode > a {
  background-color: #f5f5f5;
  color: #111;
  font-weight: 400;
}

.productLinkNav a {
  text-decoration: none;
  color: black; /* Ajusta según sea necesario */
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  transition: color var(--transition-speed);
}

.productLinkNav a:hover {
  color: #007bff; /* Color de hover */
}

.navTitle {
  font-weight: 600;
  text-align: center;
}

.navTitle.nightMode {
  background-color: #f5f5f5;
  color: #111;
}

.navTitle > p {
  margin-bottom: 0.5rem;
}

.navItemTodo {
  padding: 15px 0 0 0;
  text-align: center;
}

.navItemTodo.nightMode {
  background-color: #f5f5f5;
  color: #111;
}

.navItemTodo.nightMode > a {
  color: black;
  background-color: #f5f5f5;
  transition: color var(--transition-speed);
}

.navItemTodo > a {
  font-style: italic;
  font-size: 12px;
  color: black;
  transition: color var(--transition-speed);
}

.navItemTodo > a:hover {
  color: #007bff; /* Color de hover */
}

.navItemTodoMat {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0.25rem 0;
  border-top: 1px #d8d8d8 solid; /* Color de hover */
}

.navItemTodoMat > a {
  font-weight: 600;
  font-size: 14px;
  color: black;
  transition: color var(--transition-speed);
}

.navItemTodoMat > a:hover {
  color: #007bff; /* Color de hover */
}

.containerIconsNav {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  width: 25%;
  column-gap: 1rem;
}

.loggedUserContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.loggedUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  margin: 0 10px;
}

.loggedUserInfo > img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.loggedUserInfo > span {
  font-size: 12px;
  padding: 2px 0;
}

.loggedUserInfo > button {
  margin: 0;
  padding: 3px;
  font-size: 12px;
  border: 1px solid #999;
}

.loggedUserInfo > button:hover {
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
}

.containerLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconLogin,
.iconSearch {
  margin-left: 0px;
  transition: background-color var(--transition-speed);
  padding: 10px;
}

.iconLogin {
  cursor: pointer;
}

.iconLogin img,
.iconSearch img {
  width: 30px;
  height: 30px;
}

/* .iconLogin:hover,
.iconSearch:hover {
  background-color: var(--background-hover-color);
  border-radius: 5px;
} */

.noCategories {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  padding: 10px 50px;
  background-color: #f5f5f5;
}

.noCategories > img {
  width: 30px;
  height: 30px;
}

.noCategories > p {
  color: #111;
  margin-top: 1rem;
  font-weight: 600;
}

.buttonNewMaterial {
  /* width: 10rem; */
  padding: 0.6rem;
  border-radius: 5px;
  background-color: #2ac97a;
  cursor: pointer;
  color: white;
  outline: none;
  text-align: center;
}

.buttonNewMaterial:hover {
  background-color: #198754;
  color: white;
}

.containerExchange {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.containerValorDolar,
.containerValorEuro {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  border-radius: 6px;
  align-items: center;
}

.containerValorDolar > p,
.containerValorEuro > p {
  font-size: 0.7rem;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.containerValorDolar > p:nth-child(2),
.containerValorEuro > p:nth-child(2) {
  font-weight: 800;
}

.separataExchange {
  border-right: 1px #999 solid;
  height: 75%;
}

.buttonRefresh {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #198754;
  padding: 6px;
  border-radius: 5px;
}

.buttonRefresh:hover {
  background-color: #198754;
  color: white;
}

.loadingIcon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.switchDayNight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchDayNight > label {
  margin: 0;
  padding: 0;
}

.dayMode {
  background-color: #f5f5f5;
  color: black;
}

.nightMode {
  background-color: black;
  color: #fff;
}

.nightMode > a {
  background-color: black;
  color: #fff;
}

.nightModeliHomeNavbar {
  background-color: #6c757d;
  border-radius: 5px;
}

/* .nightModeliHomeNavbar:hover {
  color: #ff0; 
} */

.dayModeHover:hover {
  color: #00f;
}
