.item:hover {
  border: 1px solid 999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.sectionMaterialItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.sectionMaterialItem > p {
  margin: 0;
  padding: 0.5rem 0;
}

.sectionMaterialItem > img {
  width: 100px;
  margin-bottom: 10px;
}

/* .sectionMaterialItem > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

.sectionMaterialItem > div > p {
  margin: 0;
} */

.sectionMaterialItem > h2 {
  margin: 0;
  font-size: 1.25rem;
}

.priceMaterialItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.priceMaterialItem > span {
  padding: 0 0.25rem;
}

.priceMaterialItem > span:nth-child(1),
.priceMaterialItem > span:nth-child(3) {
  font-weight: 300;
}

.priceMaterialItem > span:nth-child(2),
.priceMaterialItem > span:nth-child(4) {
  font-weight: 600;
}

.containerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0.5rem 0;
  column-gap: 0.5rem;
}

.containerIcons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.catPrice {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}

.catPrice > p {
  margin: 0;
  font-weight: 300;
}

.infoCat {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoCat > p {
  margin: 0;
}

.infoCat > p:nth-child(1) {
  font-weight: 300;
}
.infoCat > p:last-child {
  font-weight: 600;
}

.containerIconEdit {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.containerIconEdit:hover {
  background-color: #0d6efd;
}

.containerIconEdit:hover .iconEdit {
  color: #f5f5f5;
}

.iconEdit {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #0d6efd;
  margin: 0;
  padding: 0;
}

.containerIconErase {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.containerIconErase:hover {
  background-color: red;
}

.containerIconErase:hover .iconErase {
  color: #f5f5f5;
}

.iconErase {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: red;
  margin: 0;
  padding: 0;
}

/* Desktop HD */

.item.hd,
.item.fullHD {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  /* border: 1px solid #999; */
  border-radius: 10px;
  margin: 5px;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 5;
}

.sectionMaterialItem.hd {
  text-align: center;
  padding-bottom: 0;
  padding-top: 0.5rem;
}

/* Tablet HD */

.item.tabletHD {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  /* border: 1px solid #999; */
  border-radius: 10px;
  margin: 5px;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 5;
}

.sectionMaterialItem.tabletHD {
  text-align: center;
  padding-bottom: 0;
  padding-top: 0.5rem;
}

/* Tablet */

.item.tablet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  /* border: 1px solid #999; */
  border-radius: 10px;
  margin: 5px;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 5;
}

.sectionMaterialItem.tablet > h2 {
  margin: 0;
  /* font-size: 1rem; */
  height: max-content;
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
}

/* Mobile Landscape */
.item.mobileLandscape {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44%;
  /* border: 1px solid #999; */
  border-radius: 10px;
  margin: 5px;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 5;
}

.priceMaterialItem.mobileLandscape {
  flex-direction: row;
  margin: 0 0 0.25rem 0;
}

.sectionMaterialItem.mobileLandscape > h2 {
  margin: 0;
  /* font-size: 1rem; */
  height: 2.5rem;
  font-size: clamp(0.8rem, 3.5vw, 1.25rempx);
}

.priceMaterialItem.mobileLandscape > span:nth-child(1),
.priceMaterialItem.mobileLandscape > span:nth-child(3) {
  /* font-size: 0.8rem; */
  font-size: clamp(0.85rem, 2.5vw, 1rem);
  font-weight: 300;
}

/* Mobile */

.item.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  /* border: 1px solid #999; */
  border-radius: 10px;
  margin: 5px;
  padding: 0 0.5rem 0 0.5rem;
  z-index: 5;
}

.sectionMaterialItem.mobile,
.sectionMaterialItem.mobileLandscape,
.sectionMaterialItem.tablet {
  text-align: center;
  padding-bottom: 0;
  padding-top: 0.5rem;
}

.sectionMaterialItem.mobile > h2 {
  margin: 0;
  /* font-size: 1rem; */
  /* height: 2.5rem; */
  font-size: clamp(1rem, 5vw, 1.25rem);
}

.priceMaterialItem.mobile {
  flex-direction: column;
  margin: 0 0 0.25rem 0;
}

.priceMaterialItem.mobile > span:nth-child(2) {
  display: none;
}

.priceMaterialItem.mobile > span:nth-child(1),
.priceMaterialItem.mobile > span:nth-child(3) {
  /* font-size: 0.8rem; */
  font-size: clamp(0.85rem, 0.5vw, 1rem);
  font-weight: 300;
}

.catPrice.mobile > p,
.catPrice.mobileLandscape > p {
  font-size: 0.8rem;
}
.infoCat.mobile > p,
.infoCat.mobileLandscape > p {
  font-size: 0.8rem;
}
