* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerFooter {
  width: 100%;
  max-width: 1320px;
  background-color: #f5f5f5;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding-bottom: 0.5rem;
}

.containerSocialIcons {
  width: 95%;
  display: flex;
  flex-direction: row;
}

/*! Social Icons */

.socialIcons {
  width: 34%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-evenly;
}

.socialIconsMobileL {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-evenly;
}

.socialIconsMobile {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-evenly;
}

/*! line */

.line {
  width: 33%;
  border-bottom: 1px #999 solid;
  margin: 1rem 0; /* Espaciado alrededor de la línea */
}

.lineMobileL {
  width: 25%;
  border-bottom: 1px #999 solid;
  margin: 1rem 0; /* Espaciado alrededor de la línea */
}

.lineMobile {
  width: 15%;
  border-bottom: 1px #999 solid;
  margin: 1rem 0; /* Espaciado alrededor de la línea */
}

/*! container Titles */

.containerTitles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.containerTitlesMobileL {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.containerTitlesMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

/*! container Title */

.containerTitle {
  display: flex;
}

.containerTitle > h2 {
  font-size: 1.75rem;
  margin: 0;
}

.containerTitleMobileL > h2 {
  font-size: 1.25rem;
  margin: 0;
}

.containerTitleMobile > h2 {
  font-size: 1.25rem;
  margin: 0;
}

/*! container Copyright */

.containerCopyright {
  display: flex;
}

.containerCopyright > p {
  margin: 0;
  font-size: 0.75rem;
}

.containerCopyrightMobileL > p {
  font-size: 0.75rem;
  margin: 0;
}

.containerCopyrightMobile > p {
  font-size: 0.75rem;
  margin: 0;
}

/*! ICONS */

.iconFacebookLarge,
.iconInstagramLarge,
.iconYoutubeLarge,
.iconXLarge,
.iconLinkedinLarge {
  width: 35px;
  height: 35px;
}

.iconFacebookLarge:hover {
  content: url(/img/facebookAzul.png);
}

.iconInstagramLarge:hover {
  content: url(/img/instagram.png);
}

.iconYoutubeLarge:hover {
  content: url(/img/youtubeColor.png);
}

.iconXLarge:hover {
  content: url(/img/xNegro.png);
}

.iconLinkedinLarge:hover {
  content: url(/img/linkedin.png);
}

.iconFacebookMedium,
.iconInstagramMedium,
.iconYoutubeMedium,
.iconXMedium,
.iconLinkedinMedium {
  width: 30px;
  height: 30px;
}

.iconFacebookMedium:hover {
  content: url(/img/facebookAzul.png);
}

.iconInstagramMedium:hover {
  content: url(/img/instagram.png);
}

.iconYoutubeMedium:hover {
  content: url(/img/youtubeColor.png);
}

.iconXMedium:hover {
  content: url(/img/xNegro.png);
}

.iconLinkedinMedium:hover {
  content: url(/img/linkedin.png);
}

.iconFacebookSmall,
.iconInstagramSmall,
.iconYoutubeSmall,
.iconXSmall,
.iconLinkedinSmall {
  width: 25px;
  height: 25px;
}

.iconFacebookSmall:hover {
  content: url(/img/facebookAzul.png);
}

.iconInstagramSmall:hover {
  content: url(/img/instagram.png);
}

.iconYoutubeSmall:hover {
  content: url(/img/youtubeColor.png);
}

.iconXSmall:hover {
  content: url(/img/xNegro.png);
}

.iconLinkedinSmall:hover {
  content: url(/img/linkedin.png);
}
